*,::after,::before {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    gap: 32px;
}
input[type="button"]{
    cursor: pointer;
}

/* layout */
.row {
    display: flex;
    flex-flow: row wrap;
}
.col {
    display: flex;
    flex-flow: column wrap;
}

.gap-s {
    gap: 16px;
}

.gap-m {
    gap: 24px;
}

.gap-l {
    gap: 32px;
}


/* typo */
h1 {
    margin: 0;
    font-size: 3.6rem;
    font-weight: 600;
}

/* btn */
.btn-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 24px;
}

.coffee-select {
    font-size: 2.4rem;
    font-weight: 500;
    background-color: white;
    border: 2px solid rgb(179, 179, 179);
    color: rgb(179, 179, 179);
    border-radius: 14px;
    padding: 16px;
}
/* 
.coffee-select:hover {
    border: 2px solid rgb(152, 152, 152);
    color: rgb(152, 152, 152);
} */

.coffee-active-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
}

/* 체크박스 */
.check-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 24px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    vertical-align: middle;
    font-size: 3rem;
    font-weight: 300;
}

input[type="checkbox"] + label :before{
    vertical-align: middle;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-right: 8px;
}

input[type="checkbox"]:checked + label :before{
    content: "";
    background-color: black;
    border: 1px solid black;
}


/* 할인쿠폰 */
.coupon-select {
    font-size: 2rem;
    padding: 16px;
    border: 1px solid orange;
    border-radius: 8px;
    width: 400px;
}

.coupon-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* 결제수단 */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    font-size: 3rem;
}

.pay-how {
    font-size: 2.4rem;
    font-weight: 500;
    background-color: white;
    border: 2px solid rgb(179, 179, 179);
    color: rgb(179, 179, 179);
    border-radius: 14px;
    padding: 16px;
}

.pay-active-btn {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.pay-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pay-modal-container {
    display: none;
    background-color: rgb(0,0,0,0.4);
    width: 100%;
    height: 300vh;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.pay-modal {
    position: fixed;
    top: 20%;
    left: 32%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    gap: 64px;
    padding: 32px;
    width: 600px;
    background-color: white;
    border-radius: 16px;
}

.pay-modal > span {
    font-size: 1.8rem;
}

.pay-close {
    font-size: 1.6rem;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    width: 80px;
    cursor: pointer;
}